{% extends 'base.html.twig' %}

{% block title %}Accueil - StudyConnect{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Bienvenue sur StudyConnect</h1>
        <p class="lead">Créez des classes, partagez des cours, échangez en temps réel.</p>
    </div>
{% endblock %}
